// fonts
$main-font: 'Rubik';
$second-font: 'Montserrat';

// colors
$main-bg: #F0F0F0;
$footer-bg: #E8EAEC;

$main-color: #147EBB;
$team-bg: #006AA7;
$text-color: #1C2C39;

$black-300: #B7B7B7;
$black-200: #707070;
$black-0: #000;
